body {
    margin: 0;
    text-align: center;
    transform: translateY(55%);
    /* Change height of white border*/
    background-color: #bdbdbd;
    font-family: Arial, sans-serif;
}

.Title {
    margin: 0;
    text-align: left;
    font-size: 25px;
    letter-spacing: 1px;
    text-decoration: underline;
}

.banner {
    background-color: #ffffff;
    color: #000000;
    padding: 50px;
}

.button {
    border: none;
    color: black;
    /*Text colour*/
    font-weight: bold;
    padding: 25px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button1 {
    background-color: #bdbdbd;
}


.button2 {
    background-color: #bdbdbd;
}


.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

p.newline {
    display: block;
}

/*Makes a newline*/